<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>My Home Page</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisa, molestiae! At aliquid nobis fuga laboriosam aut quasi facere debitis, iste magnam maiores autem repellendus ut incidunt tempore nesciunt recusandae iusto.</p>
  <a routerLink="/users">Users Page</a> -->
<router-outlet></router-outlet>
